body{
    background-image: url("../assets/img/cookies.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.cookies{
    background-color: rgba(66, 66, 66, 0.7);
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 99%;
}
.text{
    margin-left: 5px;
}
.choice{
    display: flex;
}
.accept{
    margin-right: 20px;
    margin-left: 5px;
    user-select: none;
}
.deny{
    user-select: none;
}
.accept:hover, .deny:hover, .close:hover{
    color: rgb(200, 200, 200);
    transition: 0.5s;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    user-select: none;
}
.hide{
    display: none;
}
.show{
    display: block;
}